{% extends 'base.html.twig' %}

{% block title %}Publication{% endblock %}

{% block body %}
    <h1>Publication</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Post_id</th>
                <td>{{ publication.postId }}</td>
            </tr>
            <tr>
                <th>User_id</th>
                <td>{{ publication.userId }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ publication.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ publication.content }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>
                    {% if publication.imageUrl %}
                        <img src="{{ publication.imageUrl }}" alt="{{ publication.title }}" style="max-width: 300px;">
                       
                    {% else %}
                        Aucune image
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ publication.createdAt ? publication.createdAt|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Categorie</th>
                <td>{{ publication.categorie }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_publication_index') }}">back to list</a>

    <a href="{{ path('app_publication_edit', {'id':  publication.postId}) }}">edit</a>

    {{ include('publication/_delete_form.html.twig') }}
{% endblock %}